body{
    background-image: url("./img/1TaP.gif");
    font-family: 'Bebas Neue', sans-serif;
    font-size: 45px;
}

.Nav{
    
    padding: 0px 50px;
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
}
.Nav1{
    
    padding: 0px 50px;
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
}
.Nav2{
    
    padding: 0px 50px;
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
}
.navegação-primaria{
    display: flex;
    align-items: center;
    float: center;
    justify-content: space-around;
    gap: 20px;
    margin: 20px;
}

.Nav a:hover{
    color: blue;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 1px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.Picture {
    text-align: center;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid darkblue;
}

footer{
    display: flex;
    justify-content: center;
}

footer img {
    width: 60px;
    height: 60px;
}

footer a{
    margin: 20px;
    text-align: center;
}

footer p{
    margin: 20px;
}